/* Control image grid. */
.img_grid_your_name {
    height: 400px;
    width: 100%;
    background: url(b024a6ea591baa2fbf85604616f1b546.jpg) no-repeat;
    background-size: cover;
}

.animated3 {
    -webkit-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.img_grid_your_name .about-me-overlay_name {
    height: 400px;
    background: rgba(0,0,0,0);
}

.img_grid_your_name:hover .about-me-overlay_name {
    height: 400px;
    background: rgba(0,0,0,0.4);
}

.img_grid_your_name:hover .p-grid_name {
    color: white;
}

.img_grid_your_name .container-about-me_name {
    position: relative;
    /*top: 200px;*/
    text-align: center;
    padding-top: 40%;
}

.img_grid_your_name .p-grid_name {
    color: transparent;
    font-size: 20px;
}